dl.dlfaq button {
  margin: 0;
  padding: 0;
  margin-top: 1em;
  font-weight: bold;
  font-size: 110%;
  border: thin solid transparent;
  background-color: transparent;
  padding-left: 0.125em;
}

dl dd {
  margin: 0;
  padding: 0;
  margin-left: 1.5em;
}

dl.dlfaq .desc {
  margin: 0;
  padding: 0.5em;
  font-size: 110%;
  line-height: 1.5;
  display: none;
  /* background-color: #fffedb; */
}

dl.dlfaq button:hover,
dl.dlfaq button:focus {
  /* background-color: #eee; */
}

dl.dlfaq button:focus {
  /* border-color: #630; */
  outline: 0;
}

dl.dlfaq button:hover {
  /* text-decoration: underline; */
}

dl.dlfaq button:active {
  /* background-color: #bbb; */
}

dl.dlfaq button[aria-expanded="false"]::before {
  content: "+";
  padding-right: 0.35em;
}

dl.dlfaq button[aria-expanded="true"]::before {
  content: "-";
  padding-right: 0.35em;
}